a {
    text-decoration: none;
    color: rgb(182, 197, 196);
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  .nav {
    
    color: rgb(182, 197, 196);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
    cursor: pointer;
  }
  
 

  .logo {
    font-size: 20px;
    color: rgb(182, 197, 196);
    padding-left: 20px;
  }

  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }

  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color:rgb(182, 197, 196);
  }

  .nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    /* background-color: lightblue; */
  }

  .nav__link a {
    color: rgb(182, 197, 196);;
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  .nav__link a:hover {
    border-bottom: 3px solid rgb(182, 197, 196);;
    border-radius: 7px;
    transition: all 0.2s ease;
  }

 
  @media screen and (min-width:360px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right:100px;
      margin-left: 40px;
      background: none;
    }

    .nav__link a {
      display: inline-block;
      padding: 1px 5px;


    }

    .hamburger {
      display: none;
    }
    .content{
      display: block;
      text-align: center;
      margin-left: 15px;
    }
  }